.a {
    background-image: linear-gradient( to right,rgb(0, 246, 139),black,rgb(0,246,139) );
}

.aa {
    background-image: url(boiada.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aqua;
    font-size: 300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    position: absolute;
    top: 30%;
    left: 40%;
    padding: 15px;

    margin: auto;
    border-radius: 40px;
    border-bottom: 5px solid;
    outline: none;

    border-radius: 10px;
    padding: 60px;

    border: 5px solid;
    padding: 10px;
    text-align: center;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.ab {
    text-align: center;
    background-color: black;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin: auto;
    border-radius: 30px;
    border-bottom: 2px solid;

}

.ac {
    text-align: center;
    margin: auto;
    border-radius: 30px;
    border-bottom: 2px solid;
    padding: 12px;
    font-size: 18px;
}

.ad {
    background-color: aqua;
    margin: auto;
    border-radius: 20px;
    border-bottom: 5px solid;
    padding: 12px;
    font-size: 27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.ax {
    text-align: center;
    background-color: black;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin: auto;
    border-radius: 30px;
    border-bottom: 2px solid;
}
